<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/main.html :: header-main(Friend)"></head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<style>
    .imgUserThumbnail {
        width: 100%;
        height: 400px !important;
    }

    .imgUserAvatar {
        width: 200px;
        height: 200px !important;
    }

    .top-right {
        position: absolute;
        top: 8px;
        right: 16px;
    }

    .imageDemo {
        position: relative;
        text-align: center;
        color: white;
    }

    .chat-message {
        margin-bottom: 10px;
        clear: both;
    }

    .chat-message-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
        float: left;
    }

    .cursor {
        cursor: pointer !important;
    }

    .menu {
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        list-style-type: none;
        padding: 0;
    }

</style>
<body>
<div class="theme-layout">
    <div class="" th:insert="fragments/main.html :: headerMain"></div>

    <div th:insert="fragments/main.html :: sectionUser">
    </div>

    <section id="mainSection">
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" id="page-contents">
                            <div class="col-lg-3">
                                <aside class="sidebar static">
                                    <div class="advertisment-box  marketing marketing-item">
                                        <h4 class="">advertisment</h4>
                                        <figure>
                                            <a href="#" title="Advertisment"><img
                                                    th:src="@{/main/images/resources/ad-widget.jpg}"
                                                    alt=""></a>
                                        </figure>
                                    </div>
                                </aside>
                            </div><!-- sidebar -->
                            <div class="col-lg-6">
                                <div class="central-meta">
                                    <div class="groups">
                                        <span><i class="fa fa-users"></i> joined Groups</span>
                                    </div>
                                    <ul class="nearby-contct">
                                        <li>
                                            <div class="nearly-pepls">
                                                <figure>
                                                    <a href="time-line.html" title=""><img src="images/resources/group1.jpg" alt=""></a>
                                                </figure>
                                                <div class="pepl-info">
                                                    <h4><a href="time-line.html" title="">funparty</a></h4>
                                                    <span>public group</span>
                                                    <em>32k Members</em>
                                                    <a href="#" title="" class="add-butn" data-ripple="">leave group</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nearly-pepls">
                                                <figure>
                                                    <a href="time-line.html" title=""><img src="images/resources/group2.jpg" alt=""></a>
                                                </figure>
                                                <div class="pepl-info">
                                                    <h4><a href="time-line.html" title="">ABC News</a></h4>
                                                    <span>Private group</span>
                                                    <em>5M Members</em>
                                                    <a href="#" title="" class="add-butn" data-ripple="">leave group</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nearly-pepls">
                                                <figure>
                                                    <a href="time-line.html" title=""><img src="images/resources/group3.jpg" alt=""></a>
                                                </figure>
                                                <div class="pepl-info">
                                                    <h4><a href="time-line.html" title="">SEO Zone</a></h4>
                                                    <span>Public group</span>
                                                    <em>32k Members</em>
                                                    <a href="#" title="" class="add-butn" data-ripple="">leave group</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nearly-pepls">
                                                <figure>
                                                    <a href="time-line.html" title=""><img src="images/resources/group4.jpg" alt=""></a>
                                                </figure>
                                                <div class="pepl-info">
                                                    <h4><a href="time-line.html" title="">Max Us</a></h4>
                                                    <span>Public group</span>
                                                    <em> 756 Members</em>
                                                    <a href="#" title="" class="add-butn" data-ripple="">leave group</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nearly-pepls">
                                                <figure>
                                                    <a href="time-line.html" title=""><img src="images/resources/group5.jpg" alt=""></a>
                                                </figure>
                                                <div class="pepl-info">
                                                    <h4><a href="time-line.html" title="">Banana Group</a></h4>
                                                    <span>Friends Group</span>
                                                    <em>32k Members</em>
                                                    <a href="#" title="" class="add-butn" data-ripple="">leave group</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nearly-pepls">
                                                <figure>
                                                    <a href="time-line.html" title=""><img src="images/resources/group6.jpg" alt=""></a>
                                                </figure>
                                                <div class="pepl-info">
                                                    <h4><a href="time-line.html" title="">Bad boys n Girls</a></h4>
                                                    <span>Public group</span>
                                                    <em>32k Members</em>
                                                    <a href="#" title="" class="add-butn" data-ripple="">leave group</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nearly-pepls">
                                                <figure>
                                                    <a href="time-line.html" title=""><img src="images/resources/group7.jpg" alt=""></a>
                                                </figure>
                                                <div class="pepl-info">
                                                    <h4><a href="time-line.html" title="">Bachelor's fun</a></h4>
                                                    <span>Public Group</span>
                                                    <em>500 Members</em>
                                                    <a href="#" title="" class="add-butn" data-ripple="">leave group</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nearly-pepls">
                                                <figure>
                                                    <a href="time-line.html" title=""><img src="images/resources/group4.jpg" alt=""></a>
                                                </figure>
                                                <div class="pepl-info">
                                                    <h4><a href="time-line.html" title="">Max Us</a></h4>
                                                    <span>Public group</span>
                                                    <em> 756 Members</em>
                                                    <a href="#" title="" class="add-butn" data-ripple="">leave group</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="lodmore"><button class="btn-view btn-load-more"></button></div>
                                </div><!-- photos -->
                            </div><!-- centerl meta -->
                            <div class="col-lg-3">
                                <aside class="sidebar static">
                                    <div class="widget friend-list stick-widget">
                                        <h4 class="widget-title">Friends</h4>
                                        <div id="searchDir"></div>
                                        <ul id="people-list" class="friendz-list">

                                        </ul>
                                    </div><!-- friends list sidebar -->
                                </aside>
                            </div><!-- sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- The Modal -->
    <div class="modal" id="myModalItem">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upload Image</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <input type="file" name="thumbnail" id="uploadThumbnailBlog" required accept="image/*">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="submitUploadBlog" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="modalUploadAvt">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upload Image</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <input type="file" name="thumbnail" id="uploadThumbnail" required accept="image/*">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="submitUpload" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modalUploadThumbnail">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upload Image</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <input type="file" name="thumbnail" id="uploadImage" required accept="image/*">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="submitUploadThumbnail" data-dismiss="modal">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>

    <input type="text" class="d-none" id="inputAvtUploaded">
    <input type="text" class="d-none" id="inputThumbnailUploaded">

    <div class="" th:insert="fragments/main.html :: footerMain"></div>
</div>
</body>
<div th:insert="fragments/main.html :: script-main"></div>
<script th:src="@{/main/js/master.js}"></script>
<script th:src="@{/main/js/message-private.js}"></script>
<script th:src="@{/main/js/blog-comments.js}"></script>
<script th:src="@{/main/js/notification.js}"></script>
<script th:src="@{/main/js/message-friends.js}"></script>
<script>
    $(document).ready(function () {
        $('.inputThumbnailBlog').on('change', function () {
            let item = $(this).data('id');
            uploadImageUpdateBlog(item);
        });

        $('.btnUpdateBlogModal').on('click', function () {
            let item = $(this).data('id');
            editBlog(item);
        });

        $('.btnDeleteBlogModal').on('click', function () {
            let item = $(this).data('id');
            deleteBlog(item);
        })
    })

    async function editBlog(id) {
        let thumbnail = $('#mainThumbnailBlog_' + id).val();
        let content = $('#inputContentBlog_' + id).val();

        try {
            let updateBlog = `/api/v1/blogs`;

            let user = {
                id: localStorage.getItem('user_id')
            };

            let requestData = {
                id: id,
                content: content,
                thumbnail: thumbnail,
                user: user
            };

            if (content) {
                await fetch(updateBlog, {
                    method: 'PUT',
                    headers: {
                        'content-type': 'application/json',
                        'Authorization': `Bearer ` + `${myToken}`
                    },
                    body: JSON.stringify(requestData),

                })
                    .then(response => {
                        if (response.status == 200) {
                            window.location.reload();
                        } else {
                            alert("Error! Please try again");
                        }
                    })
                    .catch(error => console.log(error));

            } else {
                alert('Please enter the content of blog!')
            }

        } catch (error) {
            console.error('Error:', error);
        }

    }

    async function deleteBlog(id) {
        let deleteBlog = `/api/v1/blogs/${id}`;

        await fetch(deleteBlog, {
            method: 'DELETE',
            headers: {
                'content-type': 'application/json',
                'Authorization': `Bearer ` + `${myToken}`
            }
        })
            .then(response => {
                if (response.status == 200) {
                    window.location.reload();
                } else {
                    alert("Error! Please try again");
                }
            })
            .catch(error => console.log(error));
    }

    async function uploadImageUpdateBlog(id) {
        await uploadImageMain('inputThumbnailBlog_' + id).then(function (response) {
            $('#modalImageShow_' + id).attr("src", response);
            $('#mainThumbnailBlog_' + id).val(response);
        }).catch(function (error) {
            console.error('Error:', error);
        });
    }
</script>
</html>