<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/main.html :: header-main(Fakebook)"></head>
<style>
    .imgDemoUpload {
        width: 100%;
        height: 400px;
        margin: 16px 0;
    }
</style>
<body>
<div class="theme-layout">
    <div class="" th:insert="fragments/main.html :: headerMain"></div>

    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" id="page-contents">
                            <div class="col-lg-3">
                                <aside class="sidebar static">
                                    <div class="widget">
                                        <h4 class="widget-title">Shortcuts</h4>
                                        <ul class="naves">
                                            <li>
                                                <i class="ti-clipboard"></i>
                                                <a href="newsfeed.html" title="">News feed</a>
                                            </li>
                                            <li>
                                                <i class="ti-mouse-alt"></i>
                                                <a href="inbox.html" title="">Inbox</a>
                                            </li>
                                            <li>
                                                <i class="ti-files"></i>
                                                <a href="fav-page.html" title="">My pages</a>
                                            </li>
                                            <li>
                                                <i class="ti-user"></i>
                                                <a href="timeline-friends.html" title="">friends</a>
                                            </li>
                                            <li>
                                                <i class="ti-image"></i>
                                                <a href="timeline-photos.html" title="">images</a>
                                            </li>
                                            <li>
                                                <i class="ti-video-camera"></i>
                                                <a href="timeline-videos.html" title="">videos</a>
                                            </li>
                                            <li>
                                                <i class="ti-comments-smiley"></i>
                                                <a href="messages.html" title="">Messages</a>
                                            </li>
                                            <li>
                                                <i class="ti-bell"></i>
                                                <a href="notifications.html" title="">Notifications</a>
                                            </li>
                                            <li>
                                                <i class="ti-share"></i>
                                                <a href="people-nearby.html" title="">People Nearby</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-bar-chart-o"></i>
                                                <a href="insights.html" title="">insights</a>
                                            </li>
                                            <li>
                                                <i class="ti-power-off"></i>
                                                <a href="landing.html" title="">Logout</a>
                                            </li>
                                        </ul>
                                    </div><!-- Shortcuts -->
                                    <div class="widget">
                                        <h4 class="widget-title">Recent Activity</h4>
                                        <ul class="activitiez">
                                            <li>
                                                <div class="activity-meta">
                                                    <i>10 hours Ago</i>
                                                    <span><a href="#" title="">Commented on Video posted </a></span>
                                                    <h6>by <a href="time-line.html">black demon.</a></h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="activity-meta">
                                                    <i>30 Days Ago</i>
                                                    <span><a href="#" title="">Posted your status. “Hello guys, how are you?”</a></span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="activity-meta">
                                                    <i>2 Years Ago</i>
                                                    <span><a href="#" title="">Share a video on her timeline.</a></span>
                                                    <h6>"<a href="#">you are so funny mr.been.</a>"</h6>
                                                </div>
                                            </li>
                                        </ul>
                                    </div><!-- recent activites -->
                                    <div class="widget stick-widget">
                                        <h4 class="widget-title">Who's follownig</h4>
                                        <ul class="followers">
                                            <li>
                                                <figure><img th:src="@{/main/images/resources/friend-avatar2.jpg}"
                                                             alt=""></figure>
                                                <div class="friend-meta">
                                                    <h4><a href="time-line.html" title="">Kelly Bill</a></h4>
                                                    <a href="#" title="" class="underline">Add Friend</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div><!-- who's following -->
                                </aside>
                            </div><!-- sidebar -->
                            <div class="col-lg-6">
                                <div class="central-meta">
                                    <div class="new-postbox">
                                        <figure>
                                            <img class="avtCurrentUser" th:src="@{/main/images/resources/admin2.jpg}"
                                                 alt="">
                                        </figure>
                                        <div class="newpst-input">
                                            <form>
                                                <textarea id="contentBlog" required rows="2"
                                                          placeholder="write something"></textarea>
                                                <div class="attachments">
                                                    <img class="imgDemoUpload d-none" id="imgDemoUpload"
                                                         src=""
                                                         alt="">
                                                    <ul>
                                                        <li class="mr-3">
                                                            <i id="uploadImage" data-toggle="modal"
                                                               data-target="#myModalItem" class="fa fa-image"></i>
                                                            <label class="fileContainer d-none">
                                                                <input id="inputThumbnail" name="thumbnail" type="text">
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <button id="btnCreateBlog" type="button">Post</button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div><!-- add post new box -->
                                <div class="loadMore" id="loadBlog">
                                    <div class="central-meta item" th:each="item : ${blogDtos}">
                                        <div class="user-post user-blog-item">
                                            <div class="friend-info">
                                                <figure>
                                                    <img th:src="${item.user_id.avt}" alt="">
                                                </figure>
                                                <div class="friend-name">
                                                    <ins><a href="time-line.html"
                                                            title="">[[${item.user_id.username}]]</a></ins>
                                                    <span>published: [[${item.createdAt}]]</span>
                                                </div>
                                                <div class="post-meta">
                                                    <img th:src="${item.thumbnail}" alt="">
                                                    <div class="we-video-info">
                                                        <ul>
                                                            <li>
															<span class="views" data-toggle="tooltip" title="views">
																<i class="fa fa-eye"></i>
																<ins th:class="|viewQty-${item.id}|">[[${item.views}]]</ins>
															</span>
                                                            </li>
                                                            <li>
															<span class="comment commentShow" data-toggle="tooltip"
                                                                  title="Comments"
                                                                  th:data-id="|${item.id}|">
																<i class="fa fa-comments-o"></i>
																<ins th:class="|commentQty-${item.id}|">[[${item.comments}]]</ins>
															</span>
                                                            </li>
                                                            <li>

															<span class="likeBlog like" data-toggle="tooltip"
                                                                  th:id="|like-${item.id}|"
                                                                  title="like" th:data-id="${item.id}"
                                                                  data-value="1">
																<i class="ti-heart"></i>
																<ins th:class="|likeQty-${item.id}|">[[${item.likes}]]</ins>
															</span>

                                                                <span class="likeBlog dislike d-none"
                                                                      th:id="|dislike-${item.id}|"
                                                                      data-toggle="tooltip" th:data-id="${item.id}"
                                                                      data-value="0"
                                                                      title="dislike">
																<i class="ti-heart-broken"></i>
																<ins th:class="|likeQty-${item.id}|">[[${item.likes}]]</ins>
															</span>

                                                            </li>
                                                            <li>
															<span class="dislike" data-toggle="tooltip" title="share">
																<i class="fa fa-share-alt"></i>
																<ins>[[${item.shares}]]</ins>
															</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="description">
                                                        [[${item.content}]]
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="coment-area mt-5" th:id="|listComment-${item.id}|"
                                                 th:data-id="${item.id}">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- centerl meta -->
                            <div class="col-lg-3">
                                <aside class="sidebar static">
                                    <div class="widget">
                                        <h4 class="widget-title">Your page</h4>
                                        <div class="your-page">
                                            <figure>
                                                <a href="#" title=""><img class="imgUserAvatar"
                                                        th:src="@{/main/images/resources/friend-avatar9.jpg}"
                                                        alt=""></a>
                                            </figure>
                                            <div class="page-meta">
                                                <a href="#" title="" class="underline">My page</a>
                                                <span><i class="ti-comment"></i><a href="insight.html" title="">Messages <em>9</em></a></span>
                                                <span><i class="ti-bell"></i><a href="insight.html" title="">Notifications <em>2</em></a></span>
                                            </div>
                                            <div class="page-likes">
                                                <ul class="nav nav-tabs likes-btn">
                                                    <li class="nav-item"><a class="active" href="#link1"
                                                                            data-toggle="tab">likes</a></li>
                                                    <li class="nav-item"><a class="" href="#link2" data-toggle="tab">views</a>
                                                    </li>
                                                </ul>
                                                <!-- Tab panes -->
                                                <div class="tab-content">
                                                    <div class="tab-pane active fade show " id="link1">
                                                        <span><i class="ti-heart"></i><span
                                                                class="likeUser">0 </span></span>
                                                    </div>
                                                    <div class="tab-pane fade" id="link2">
                                                        <span><i class="ti-eye"></i><span
                                                                class="viewUser">0 </span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- page like widget -->
                                    <div class="widget">
                                        <div class="banner medium-opacity bluesh">
                                            <div class="bg-image"
                                                 style="background-image: th:url(@{/main/images/resources/baner-widgetbg.jpg})"></div>
                                            <div class="baner-top">
                                                <span><img alt="" th:src="@{/main/images/book-icon.png}"></span>
                                                <i class="fa fa-ellipsis-h"></i>
                                            </div>
                                            <div class="banermeta">
                                                <p>
                                                    create your own group.
                                                </p>
                                                <span>like them all</span>
                                                <a data-ripple="" title="" href="#">start now!</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget friend-list stick-widget">
                                        <h4 class="widget-title">Friends</h4>
                                        <div id="searchDir"></div>
                                        <ul id="people-list" class="friendz-list">
                                            <li>
                                                <figure>
                                                    <img th:src="@{/main/images/resources/friend-avatar.jpg}" alt="">
                                                    <span class="status f-online"></span>
                                                </figure>
                                                <div class="friendz-meta">
                                                    <a href="time-line.html">bucky barnes</a>
                                                    <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
                                                          class="__cf_email__"
                                                          data-cfemail="a0d7c9ced4c5d2d3cfccc4c5d2e0c7cdc1c9cc8ec3cfcd">[email&#160;protected]</a></i>
                                                </div>
                                            </li>
                                            <li>
                                                <figure>
                                                    <img th:src="@{/main/images/resources/friend-avatar2.jpg}" alt="">
                                                    <span class="status f-away"></span>
                                                </figure>
                                                <div class="friendz-meta">
                                                    <a href="time-line.html">Sarah Loren</a>
                                                    <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
                                                          class="__cf_email__"
                                                          data-cfemail="b4d6d5c6dad1c7f4d3d9d5ddd89ad7dbd9">[email&#160;protected]</a></i>
                                                </div>
                                            </li>
                                        </ul>
<!--                                        <div class="chat-box">-->
<!--                                            <div class="chat-head">-->
<!--                                                <span class="status f-online"></span>-->
<!--                                                <h6>Bucky Barnes</h6>-->
<!--                                                <div class="more">-->
<!--                                                    <span><i class="ti-more-alt"></i></span>-->
<!--                                                    <span class="close-mesage"><i class="ti-close"></i></span>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="chat-list">-->
<!--                                                <ul>-->
<!--                                                    <li class="me">-->
<!--                                                        <div class="chat-thumb"><img-->
<!--                                                                th:src="@{/main/images/resources/chatlist1.jpg}" alt="">-->
<!--                                                        </div>-->
<!--                                                        <div class="notification-event">-->
<!--															<span class="chat-message-item">-->
<!--																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks-->
<!--															</span>-->
<!--                                                            <span class="notification-date"><time-->
<!--                                                                    datetime="2004-07-24T18:18"-->
<!--                                                                    class="entry-date updated">Yesterday at 8:10pm</time></span>-->
<!--                                                        </div>-->
<!--                                                    </li>-->
<!--                                                    <li class="you">-->
<!--                                                        <div class="chat-thumb"><img-->
<!--                                                                th:src="@{/main/images/resources/chatlist2.jpg}" alt="">-->
<!--                                                        </div>-->
<!--                                                        <div class="notification-event">-->
<!--															<span class="chat-message-item">-->
<!--																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks-->
<!--															</span>-->
<!--                                                            <span class="notification-date"><time-->
<!--                                                                    datetime="2004-07-24T18:18"-->
<!--                                                                    class="entry-date updated">Yesterday at 8:10pm</time></span>-->
<!--                                                        </div>-->
<!--                                                    </li>-->
<!--                                                    <li class="me">-->
<!--                                                        <div class="chat-thumb"><img-->
<!--                                                                th:src="@{/main/images/resources/chatlist1.jpg}" alt="">-->
<!--                                                        </div>-->
<!--                                                        <div class="notification-event">-->
<!--															<span class="chat-message-item">-->
<!--																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks-->
<!--															</span>-->
<!--                                                            <span class="notification-date"><time-->
<!--                                                                    datetime="2004-07-24T18:18"-->
<!--                                                                    class="entry-date updated">Yesterday at 8:10pm</time></span>-->
<!--                                                        </div>-->
<!--                                                    </li>-->
<!--                                                </ul>-->
<!--                                                <form class="text-box">-->
<!--                                                    <textarea placeholder="Post enter to post..."></textarea>-->
<!--                                                    <div class="add-smiles">-->
<!--                                                        <span title="add icon" class="em em-expressionless"></span>-->
<!--                                                    </div>-->
<!--                                                    <div class="smiles-bunch">-->
<!--                                                        <i class="em em-&#45;&#45;1"></i>-->
<!--                                                        <i class="em em-smiley"></i>-->
<!--                                                        <i class="em em-anguished"></i>-->
<!--                                                        <i class="em em-laughing"></i>-->
<!--                                                        <i class="em em-angry"></i>-->
<!--                                                        <i class="em em-astonished"></i>-->
<!--                                                        <i class="em em-blush"></i>-->
<!--                                                        <i class="em em-disappointed"></i>-->
<!--                                                        <i class="em em-worried"></i>-->
<!--                                                        <i class="em em-kissing_heart"></i>-->
<!--                                                        <i class="em em-rage"></i>-->
<!--                                                        <i class="em em-stuck_out_tongue"></i>-->
<!--                                                    </div>-->
<!--                                                    <button type="submit"></button>-->
<!--                                                </form>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                    </div><!-- friends list sidebar -->
                                </aside>
                            </div><!-- sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- The Modal -->
    <div class="modal" id="myModalItem">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upload Image</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <input type="file" name="thumbnail" id="uploadThumbnail" required accept="image/*">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="submitUpload" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="" th:insert="fragments/main.html :: footerMain"></div>
</div>
</body>
<div th:insert="fragments/main.html :: script-main"></div>
<script th:src="@{/main/js/master.js}"></script>
<script>
    $(document).ready(function () {
        $('.commentShow').on('click', function () {
            let id = $(this).data('id');
            let element = $('#listComment-' + id);
            loadComment(element, id);
            viewBlog(id);
        })

        $('#btnCreateBlog').on('click', function () {
            postBlog();
        })

        $('.likeBlog').on('click', function () {
            let id = $(this).data('id');
            let check = $(this).data('value');
            likeBlog(id, check);
        })

        $('#submitUpload').on('click', function (e) {
            e.preventDefault();
            uploadImageMain('uploadThumbnail').then(function (response) {
                console.log(response)
                $('#imgDemoUpload').removeClass('d-none')
                $('#imgDemoUpload').attr("src", response);
                $('#inputThumbnail').val(response);
            }).catch(function (error) {
                console.error('Error:', error);
            });
        });
    })

    function processCreateComment(id) {
        createComment(id);
    }

    function loadComment(element, id) {
        renderBlog(element, id);
    }

    async function renderBlog(element, id) {
        let url = `/api/v1/comments/list/` + id;

        $.ajax({
            url: url,
            method: 'GET',
        })
            .done(function (response) {
                let commentList = response.content;
                let comments = '';
                for (let i = 0; i < commentList.length; i++) {
                    let commentChilds = commentList[i].commentsChild;
                    let item = ``;
                    for (let j = 0; j < commentChilds.length; j++) {
                        item = item + `<li>
                                                                <div class="comet-avatar">
                                                                    <img src="${commentChilds[j].userId.avt}" alt="">
                                                                </div>
                                                                <div class="we-comment">
                                                                    <div class="coment-head">
                                                                        <h5><a href="time-line.html" title="">${commentChilds[j].userId.username}</a></h5>
                                                                        <span>${commentChilds[j].createdAt}</span>
                                                                        <a class="we-reply" href="#" title="Reply"><i
                                                                                class="fa fa-reply"></i></a>
                                                                    </div>
                                                                    <p>${commentChilds[j].content}</p>
                                                                </div>
                                                            </li>`
                    }
                    comments = comments + `<li>
                                                        <div class="comet-avatar">
                                                            <img src="${commentList[i].userId.avt}" alt="">
                                                        </div>
                                                        <div class="we-comment">
                                                            <div class="coment-head">
                                                                <h5><a href="time-line.html" title="">${commentList[i].userId.username}</a>
                                                                </h5>
                                                                <span>${commentList[i].createdAt}</span>
                                                                <a class="we-reply" href="#" title="Reply"><i
                                                                        class="fa fa-reply"></i></a>
                                                            </div>
                                                            <p>${commentList[i].content}</p>
                                                        </div>
                                                        <ul>
                                                         ${item}
                                                        </ul>
                                                    </li>`;
                }
                let mainComment = `<ul class="we-comet">
                                                    ${comments}
                                                    <li class="post-comment">
                                                        <div class="comet-avatar">
                                                            <img th:src="@{/main/images/resources/comet-1.jpg}" alt="">
                                                        </div>
                                                        <div class="post-comt-box">
                                                            <form>
                                                                <textarea id="contentComment-${id}" placeholder="Post your comment"></textarea>
                                                                <button class="btn btn-success text-black btnCreateComment" onclick="processCreateComment(${id});" type="button" data-id="${id}">Comment</button>
                                                            </form>
                                                        </div>
                                                    </li>
                        </ul> `
                element.empty().append(mainComment);
            })
            .fail(function (_, textStatus) {
                console.log(textStatus)
            });
    }

    let myToken = getCookieValue('accessToken');

    async function postBlog() {
        try {
            let createBlog = `/api/v1/blogs`;

            let content = $('#contentBlog').val();
            let inputThumbnail = $('#inputThumbnail').val();
            console.log(inputThumbnail);
            if (!inputThumbnail) {
                inputThumbnail = `https://www.techsmith.com/blog/wp-content/uploads/2021/02/video-thumbnails-social.png`;
            }


            let user = {
                id: localStorage.getItem('user_id')
            };

            let requestData = {
                comments: 0,
                content: content,
                likes: 0,
                shares: 0,
                status: `ACTIVE`,
                thumbnail: inputThumbnail,
                user_id: user,
                views: 0,
            };

            if (content) {
                fetch(createBlog, {
                    method: 'POST',
                    headers: {
                        'content-type': 'application/json',
                        'Authorization': `Bearer ` + `${myToken}`
                    },
                    body: JSON.stringify(requestData),

                })
                    .then(response => {
                        if (response.status == 200) {
                            alert('Success')
                            window.location.reload();
                        } else {
                            alert("Error! Please try again");
                        }
                    })
                    .catch(error => console.log(error));

            } else {
                alert('Please enter the content of blog!')
            }

        } catch (error) {
            console.error('Error:', error);
        }
    }

    async function createComment(id) {
        try {
            let createComment = `/api/v1/comments`;

            let content = $('#contentComment-' + id).val();

            let user = {
                id: localStorage.getItem('user_id')
            };

            let requestData = {
                blogId: id,
                content: content,
                likes: 0,
                status: `ACTIVE`,
                userId: user,
            };

            if (content) {
                fetch(createComment, {
                    method: 'POST',
                    headers: {
                        'content-type': 'application/json',
                        'Authorization': `Bearer ` + `${myToken}`
                    },
                    body: JSON.stringify(requestData),

                })
                    .then(response => {
                        if (response.status == 200) {
                            alert('Success')
                            let element = $('#listComment-' + id);
                            loadComment(element, id);
                        } else {
                            alert("Error! Please try again");
                        }
                    })
                    .catch(error => console.log(error));

            } else {
                alert('Please enter the content of blog!')
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }

    async function likeBlog(id, check) {
        let likeUrl = `/api/v1/blogs/` + id + `?check=` + check;
        fetch(likeUrl, {
            method: 'POST',
            headers: {
                'content-type': 'application/json',
                'Authorization': `Bearer ` + `${myToken}`
            },
        })
            .then(response => {
                if (response.status == 200) {
                    return response.json();
                }
            })
            .then(response => {
                if (check == 1) {
                    $('#like-' + id).addClass('d-none');
                    $('#dislike-' + id).removeClass('d-none');
                } else {
                    $('#like-' + id).removeClass('d-none');
                    $('#dislike-' + id).addClass('d-none');
                }
                let user = response.user_id.id;
                findUserId(user);
                $('.likeQty-' + id).text(response.likes);
            })
            .catch(error => console.log(error));
    }

    async function viewBlog(id) {
        let likeUrl = `/api/v1/blogs/view/` + id;
        fetch(likeUrl, {
            method: 'POST',
            headers: {
                'content-type': 'application/json',
                'Authorization': `Bearer ` + `${myToken}`
            },
        })
            .then(response => {
                if (response.status == 200) {
                    return response.json();
                }
            })
            .then(response => {
                let user = response.user_id.id;
                findUserId(user);
                $('.viewQty-' + id).text(response.views);
            })
            .catch(error => console.log(error));
    }

    function isElementVisible(element) {
        var top = element.offset().top;
        var bottom = top + element.outerHeight();

        var viewportTop = $(window).scrollTop();
        var viewportBottom = viewportTop + $(window).height();

        return (bottom > viewportTop && top < viewportBottom);
    }
</script>
</html>